
Apps/Users/migrations/

Pipfile

Media/images_users/

Pipfile.lock

Apps/comunidad/__pycache__/

Apps/Users/__pycache__/

comunidapp/__pycache__/

*.code-workspace
Media/comprobantes/

Media/resumenes/
