
Apps/Users/migrations/

Pipfile

Media/images_users/

Pipfile.lock

Apps/comunidad/__pycache__/

Apps/Users/__pycache__/

comunidapp/__pycache__/
comunidapp/settings.py

*.code-workspace
Media/comprobantes/

Media/resumenes/

Apps/external-content.duckduckgo.com.png

Apps/another.png

.env

comunidapp/settings.py

data.json

*.pyc