
Pipfile

Media/images_users/

Pipfile.lock

Apps/comunidad/__pycache__/

Apps/Users/__pycache__/

comunidapp/__pycache__/

*.code-workspace
Media/comprobantes/

Media/resumenes/

Apps/external-content.duckduckgo.com.png

Apps/another.png
