{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
    <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">

        <!-- Contenedor de todo -->
        <div class="col-8 col-md-4 d-flex flex-column justify-content-center align-items-center">

            <!-- Contenedor del logo -->
            <div class="row w-100">
                <div class="col d-flex flex-row justify-content-start px-0 pb-2">
                    <img src="{% static 'img/logo.png' %}" class="main-logo" alt="Comunidapp logo">
                    <p class="my-auto font-weight-bold font-logo mx-1" style="font-size: .9 rem;"">Comunidapp</p>
                </div>
            </div>

            <!-- Contenedor del formulario -->
            <div class=" container-fluid p-0 mb-3">
                    <div class="container p-0">
                        <p class="font-weight-bold" style="font-size:.9rem;">Inicio de sesión</p>
                    </div>

                    <form method="POST" class="container p-0 m-0">
                        {% csrf_token %}
                        <div class="form-group p-0 m-0">
                            {{ form.non_field_errors }}

                            {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                            {% endfor %}

                            {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field|addclass:'form-line p-0 w-100 mt-2 mb-2 input-text-size' }}
                            {% endfor %}
                            <div class="container m-0 p-0">
                                <p class="text-left font-weight-light" style="font-size:.8rem;">¿No tienes
                                    cuenta? <a href="" style="font-size:.8rem;">Solicitala</a>
                                </p>
                            </div>
                            <div class="container p-0 d-flex flex-column align-items-end">
                                <input class="btn btn-sm btn-submit" type="submit" name="sumbit" value="¡Vamos!">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>