{% include 'navbar.html' %}
{% load custom_tags %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {% if user.foto %}
                <img src="{{user.foto.url}}" style="height: auto; width: 200px;" alt="">
            {% else %}
                <img src="{% static 'img/user.png' %}" style="height: auto; width: 200px;" alt="">
            {% endif %}
        </div>
        <div class="col-10">
            <h1>{{ user.get_full_name }}</h1>
            {% if user.publico %}

            <div class="row">
                <div class="col-6">
                    <p>Correo: {{ user }} </p>
                </div>
                <div class="col-6">
                    <p>Genero: {{user.get_sexo_display}}</p>
                </div>
                <div class="col-6">
                    <p>Clave de empleado: {{user.clave}} </p>
                </div>
                <div class="col-6">
                    <p>Facultades: {% for facultad in user.facultades.all %}{{facultad.nombre}} |{% endfor %}</p>
                </div>
                <div class="col-6">
                    <p>Estudios: {{user.get_grado_display}}</p>
                </div>
                <div class="col-6">
                    <p>Lineas de investigacion:
                        {% for investigacion in user.investigaciones.all %}{{investigacion.nombre}} | {% endfor %}</p>
                </div>
                <div class="col-6">
                    <p>Niveles: {% for nivel in user.niveles.all %}{{nivel.nombre}} | {% endfor %}</p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <h6>Articulos y productos</h6>
                </div>
            </div>

            <div class="container-fluid">

            <p><b>Articulos</b></p>
            {% for articulo in articulos %}
                <p>{{articulo}}</p>
            {% endfor %}

            <p><b>Libros o Capitulos</b></p>
            {% for capitulolibro in capitulolibros %}
                <p>{{capitulolibro}}</p>
            {% endfor %}

            <p><b>Patentes</b></p>
            {% for patente in patentes %}
                <p>{{patente}}</p>
            {% endfor %}

            <p><b>Congresos</b></p>
            {% for congreso in congresos %}
                <p>{{congreso}}</p>
            {% endfor %}

            <p><b>Investigaciones</b></p>
            {% for investigacion in investigaciones %}
                <p>{{investigacion}}</p>
            {% endfor %}

            <p><b>Tesis</b></p>
            {% for tesi in tesis %}
                <p>{{tesi}}</p>
            {% endfor %}

            
            </div>

            

            {% else %}

            <p>Este usuario tiene su perfil privado. Habla con el o con el administrador si crees que es un error.</p>
            
            {% endif %}


        </div>

    </div>







</div>

{% endblock %}