/* Base */
:root{
    --comunidapp_green: #00DDA4;
    --comunidapp_darkgreen: #297475;
    --comunidapp_rojo: #FE0000;
    --black: #212529;
    --grey: #FAFAFA;
    --dark-grey: #737373;
    --border-grey: #dfdfdf;
}

*{ 
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6, b{
    font-weight: 600;
    color: var(--black);
}

p{
    margin-bottom: 4px;
}

h3{
    font-size: 30px;
    margin-bottom: 0px;
}

input, select{
    padding-left: 5px;
}

select {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
    appearance: none;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
}

textarea{
    resize: none;
}

svg{
    color: var(--comunidapp_green);
    margin-bottom: .5rem;
    margin-left: 4px;
}

a:hover{
    text-decoration: none;
    color: var(--black);
}

/* Custom Scrollbar */
::-webkit-scrollbar-track{
	background: #f0f0f0;  
}

::-webkit-scrollbar-thumb{
    background: #a6a6a6;
    border-radius: 25px;   
}

::-webkit-scrollbar{
	width: 8px;
}

/* Layout */
.l-fixed-top{
    display: flex;
    align-self: flex-start;
}

.l-main{
    min-height: calc(100% - 55px);
    padding-top: 20px;
}

.l-grid{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.l-pill-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.l-cambios{
    /* height: 400px; */
    display: flex;
    /* flex-wrap: wrap; */
    overflow: auto;
}

.l-form{
    width: 100%;
    display: flex;
}

/* .l-form > div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
} */

.l-popup{
    min-height: calc(100% - 55px);
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Modules */

/* Header Module */
.m-header{
    display: flex;
    background-color: var(--comunidapp_green);
    align-items: center;
    justify-content: space-evenly;
    padding-left: 48px;
    padding-right: 48px;
    height: 80px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

/* Header Components */

.m-header__logo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.m-header__title{
    font-size: 20px;
}

.m-header__image{
    height: 45px;
    width: 45px;
    margin-right: 8px;
}

.m-header__button{
    font-size:14px;
    color: var(--black);
    margin-right: 16px;
    padding: 0 5px 0 5px;
}
.m-header__button:hover{
    border-bottom: solid 2px #212529;
    cursor: pointer;
}
.m-header__button--active{
    font-weight: 600;
    border-bottom: solid 2px #212529;
}

.m-header__search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-header__dropdown{
    width: 125px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-top: 0.5px solid var(--border-grey);
    border-left: 0.5px solid var(--border-grey);
    border-right: 0.5px solid var(--border-grey);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    right: -24px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.m-header__dropdown > li{
    font-size: 15px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--border-grey);
    padding: 10px;
}

.m-header__dropdown > li > a{
    color: var(--black)
}

/* Search Box Module */

.m-search{
    background: var(--grey);
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    margin-right: 12px;
    width: 300px;
    font-size: 12px;
    padding: 5px;
    outline: none;
}

/* Profile Picture Module */
.m-profile-picture{
    /* background-image: url("../img/person.jpg"); */
    background-size: cover;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.m-user-info--card .m-profile-picture{
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor:pointer;
}

/* Profile Picture Modifiers */

.m-profile-picture--big{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

/* Title Module */
.m-title{
    margin-bottom: 20px;
}

/* User Info Module */
.m-user-info{
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 16px 12px;
    /* margin-right: 40px; */
    /* margin-bottom: 24px; */
    background: #ffffff;
    cursor: pointer;
}

/* User Info Components */

.m-user-info__text{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 5px;
    width: auto;
}

.m-user-info__text h5{
    font-size: 18px;
    margin: 10px 0;
}

.m-user-info__text > p {
    margin: 0 0 8px 0;
    font-size: 14px;
}

.m-button{
    background-color: var(--border-grey);
    color: var(--black);
    font-size: 15px;
    margin-top: 4px;
    min-width: 122px;
    border-radius: 8px;
}

.m-button--comunidapp{
    background-color: var(--comunidapp_green);
    color: var(--black);
}

/* User Info Modifiers */

.m-user-info--card{
    height: 80px;
    /* margin-bottom: 40px; */
    border: 0.5px solid #DFDFDF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    transition: transform .2s; /* Animation */
}

.m-user-info--card:hover{
    transform: scale(1.1);
}
/* Facultad Module */

.m-facultad{
    display: flex;
    align-items: center;
}

.m-facultad > p{
    margin-bottom: 0;
}

.m-facultad > img{
    margin-right: 8px;
}

/* Publicactions Module */
.m-publications{
    padding: 16px 12px;
}

/* Publications Components */
.m-publications__lineas{
    display: flex;
    align-items: center;
}

.m-publications__lineas > b{
    margin-right: 8px;
    margin-bottom: 4px;
}

/* Button Modifiers */

/* Pills Module */
.m-pills{
    height: 25px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 8px;
    background-color: var(--comunidapp_green);
    border-radius: 25px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Product Card Module */
.m-product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    padding: 20px;
    height: 100px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}
.m-product-card:hover{
    transform: scale(1.1); 
}
/* Nav Module */
.nav-link{
    color: var(--dark-grey);
}

.nav-item{
    min-width: 110px;
    text-align: center;
}

.tab-content>.active{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    max-width: 100%;
}

/* Cambios Module */
.m-cambios{
    margin-right: 8px;
    /* margin-bottom: 16px; */
    padding: 0;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Cambios Components */
.m-cambios__aprobar{
    background-color: var(--comunidapp_darkgreen);
    color: #ffffff;
    font-size: 15px;
    margin-top: 4px;
    margin-right: 16px;
}

.m-cambios__rechazar{
    background-color: var(--comunidapp_rojo);
    color: #ffffff;
    font-size: 15px;
    margin-top: 4px;
}

.m-cambios__header{
    width: 100%;
    height: 48px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);
}

.m-cambios__header > input {
    margin-right: 20px;
}

.m-cambios__header > input:checked {
    background-color: #00DDA4;
}

.m-cambios__content{
    padding: 8px 20px;
    display: flex;
    flex-wrap: wrap;
}

.m-cambios__content > b{
    margin-right: 4px;
    margin-bottom: 12px;
}

.m-cambios__buttons{
    display: flex;
    justify-content: flex-end;
}

/* Form Input Module */
.m-form-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* flex-basis: fill; */
    width: 100%;
}

.m-form-input > input, select{
    width: 100%;
    height: 36px !important;
    background: #FFFFFF;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    font-size:15px;
}

.m-form-input label{
    font-size: 15px;
}

/* Form Input Components */
.m-form-checkbox{
    width: 24px !important;
}

.m-form-button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 145px; */
}

.m-form-button > div{
    width: 280px;
    margin-right: 16px;
}

/* File Input Modules */
.m-file{
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 1rem;
}

.m-file_input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-grey);
    border-radius: .25rem;
    border: 1px solid var(--border-grey);
    height: 136px;
    background: #FFFFFF;
}

.m-file__input::after {
    display: none;
}

/* Pill Input Module */

.m-pill-input{
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom: none;
}

/* Pill Input Components */
.m-pill-input_selected-pills{
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid var(--border-grey);
    border-bottom: none;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 12px;
    flex-wrap: wrap;
    overflow: overlay;
    margin-bottom: 5px;
}

.m-pill-input_search{
    font-size: 12px;
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.m-pill-input_searchbox{
    width: 100%;
    font-size: 12px;
    position: absolute;
    background: #ffffff;
    border: 1px solid var(--border-grey);
    border-top: none;
    box-sizing: border-box;
    z-index: 999;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.m-search-result:hover{
    background: var(--comunidapp_green);
}

.m-input-multiselect{
    height: 64px !important;
    padding-left: 0;
}

.card{
    border: none !important;
}

.card-header{
    background-color: #FFFFFF;
}

/* Helpers */
.h-text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
}

div .m-product-card > .h-text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.btn:hover{
    color: var(--grey);
}

.btn:disabled:hover{
    color: initial;
    cursor: not-allowed;
}

.h-display{
    display: block;
}

.h-display-none{
    display: none;
}

.h-justify-end{
    justify-content: flex-end;
}

.h-self-end{
    align-self: flex-end;
}

.h-align-center{
    display: flex;
    align-items: center;
}

/* Visualization */
.h-max{
    height: 500px;
}
div.tooltip {
    position: absolute;			
    text-align:start;			
    min-width: 60px;					
    min-height: 20px;	
    max-width: 200px;				
    padding: 10px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}

div.tooltip p{
    font-weight: bold;
}
/* Fixed Position Helpers */
/* Como estamos utilizando Bootstrap 4.0, nosotros tenemos que crear estos estilos */
/* Estos estilos son utilizados por NotificationController.js */
.top-0{
    top: 0;
}

.start-0{
    left: 0;
}

.bottom-0{
    bottom: 0;
}

.end-0{
    right: 0;
}
