/* Base */
:root{
    --comunidapp_green: #00DDA4;
    --comunidapp_darkgreen: #297475;
    --comunidapp_rojo: #FE0000;
    --black: #212529;
    --grey: #FAFAFA;
    --dark-grey: #737373;
    --border-grey: #C4C4C4;
}

*{ 
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6, b{
    font-weight: 600;
    color: var(--black);
}

p{
    margin-bottom: 4px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
}

input, select{
    padding-left: 5px;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
}

textarea{
    resize: none;
}

svg{
    color: var(--comunidapp_green);
    margin-bottom: .5rem;
    margin-left: 4px;
}

a:hover{
    text-decoration: none;
    color: var(--black);
}

/* Custom Scrollbar */
::-webkit-scrollbar-track{
	background: #f0f0f0;  
}

::-webkit-scrollbar-thumb{
    background: #a6a6a6;
    border-radius: 25px;   
}

::-webkit-scrollbar{
	width: 8px;
}

/* Layout */
.l-fixed-top{
    display: flex;
    align-self: flex-start;
}

.l-main{
    min-height: calc(100% - 55px);
    padding-top: 20px;
}

.l-grid{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.l-pill-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.l-cambios{
    /* height: 400px; */
    display: flex;
    /* flex-wrap: wrap; */
    overflow: auto;
}

.l-form{
    width: 100%;
    display: flex;
}

.l-popup{
    min-height: calc(100% - 55px);
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Modules */

/* Header Module */
.m-header{
    display: flex;
    background-color: var(--comunidapp_green);
    align-items: center;
    justify-content: space-evenly;
    padding-left: 48px;
    padding-right: 48px;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 5;
}

/* Header Components */

.m-header__logo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.m-header__title{
    font-size: 15px;
}

.m-header__image{
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.m-header__button{
    color: var(--black);
    margin-right: 20px;
}

.m-header__search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-header__dropdown{
    width: 125px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-top: 0.5px solid var(--border-grey);
    border-left: 0.5px solid var(--border-grey);
    border-right: 0.5px solid var(--border-grey);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    right: -24px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.m-header__dropdown > li{
    font-size: 15px;
    width: 100%;
    height: 36px;
    text-align: center;
    border-bottom: 1px solid var(--border-grey);
    margin-top: 10px;
}

.m-header__dropdown > li > a{
    color: var(--black)
}

/* Search Box Module */

.m-search{
    background: var(--grey);
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    margin-right: 48px;
    width: 250px;
    font-size: 15px;
}

/* Profile Picture Module */

.m-profile-picture{
    /* background-image: url("../img/person.jpg"); */
    background-size: cover;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Profile Picture Modifiers */

.m-profile-picture--big{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

/* User Info Module */

.m-user-info{
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 16px 12px;
    margin-right: 40px;
    margin-bottom: 24px;
    background: #ffffff;
    cursor: pointer;
}

/* User Info Components */

.m-user-info__text{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 5px;
    width: 200px;
}

.m-user-info__text > p {
    margin-bottom: 0;
}

.m-comunidapp-button{
    background-color: var(--comunidapp_green);
    color: var(--black);
    font-size: 15px;
    margin-top: 4px;
    min-width: 122px;
}

/* User Info Modifiers */

.m-user-info--card{
    height: 80px;
    margin-bottom: 40px;
    border: 0.5px solid #DFDFDF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
}

/* Facultad Module */

.m-facultad{
    display: flex;
    align-items: center;
}

.m-facultad > p{
    margin-bottom: 0;
}

.m-facultad > img{
    margin-right: 8px;
}

/* Publicactions Module */
.m-publications{
    padding: 16px 12px;
}

/* Publications Components */
.m-publications__lineas{
    display: flex;
    align-items: center;
}

.m-publications__lineas > b{
    margin-right: 8px;
    margin-bottom: 4px;
}

/* Button Modifiers */

/* Pills Module */
.m-pills{
    height: 25px;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 8px;
    background-color: var(--comunidapp_green);
    border-radius: 25px;
}

/* Product Card Module */
.m-product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-left: 20px;
    padding: 20px;
    height: 100px;
    width: 215px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;                            
    border-radius: 4px;
    cursor: pointer;
}

/* Nav Module */
.nav-link{
    color: var(--dark-grey);
}

.tab-content>.active{
    display: flex;
    flex-wrap: wrap !important;
}

/* Cambios Module */
.m-cambios{
    margin-right: 8px;
    /* margin-bottom: 16px; */
    padding: 0;
    border: 1px solid var(--border-grey);
    box-sizing: border-box;
    border-radius: 5px;
}

/* Cambios Components */
.m-cambios__aprobar{
    background-color: var(--comunidapp_darkgreen);
    color: #ffffff;
    font-size: 15px;
    margin-top: 4px;
    margin-right: 16px;
}

.m-cambios__rechazar{
    background-color: var(--comunidapp_rojo);
    color: #ffffff;
    font-size: 15px;
    margin-top: 4px;
}

.m-cambios__header{
    width: 100%;
    height: 48px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);
}

.m-cambios__header > input {
    margin-right: 20px;
}

.m-cambios__header > input:checked {
    background-color: #00DDA4;
}

.m-cambios__content{
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;
}

.m-cambios__content > b{
    margin-right: 4px;
    margin-bottom: 12px;
}

.m-cambios__buttons{
    display: flex;
    justify-content: flex-end;
}

/* Form Input Module */
.m-form-input{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.m-form-input > input, select{
    width: 100%;
    height: 30px !important;
    background: #FFFFFF;
    border: 1px solid var(--border-grey) !important;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Form Input Components */
.m-form-checkbox{
    width: 20px !important;
}

.m-form-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
}

.m-form-button > div{
    width: 280px;
    margin-right: 16px;
}

/* Input Modules */
.m-input-file{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-left: .375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: .25rem;
    border: 1px solid var(--border-grey);
    height: 30px;
    background: #FFFFFF;
    margin-bottom: 8px;
}

.m-input-file::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: 28px;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Examinar";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.m-input-multiselect{
    height: 64px !important;
}

.card{
    border: none !important;
}

.card-header{
    background-color: #FFFFFF;
}

/* Helpers */
.h-text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn:hover{
    color: var(--grey);
}

.h-display{
    display: block;
}

.h-align-center{
    display: flex;
}

.h-justify-end{
    justify-content: flex-end;
}

.h-self-end{
    align-self: flex-end;
}

.h-align-center{
    display: flex;
    align-items: center;
}