*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
}
 
.container-logo{
    height: 15% !important;
}


.main{
    height: 100%;
    width: 100%;
    background: #FAFAFA;
}

.font-logo{
    color: rgb(77, 77, 77);
    letter-spacing: .5px;
}

.form-border{
    -webkit-box-shadow: 3px 7px 28px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 7px 28px -4px rgba(0,0,0,0.5);
    box-shadow: 3px 7px 28px -4px rgba(0,0,0,0.5);
}

.container a{
    color: #25D3A2;
}

ul.errorlist{
    color: rgba(255, 0, 0, 0.753);
    font-size: .7rem;
    border: .5px solid rgb(180, 178, 178);
    border-radius: 8px;
    padding: 8px;
    margin:12px 0px;
    box-sizing: border-box;
}
.form-container{
    background: #fff;
    opacity: 1;
}

.bg-blue{
    background-color: #00DDA4;
}

.btn-submit{
    background-color: #25D3A2 !important;
    color: white !important;
    border: none;
    padding: 6px 12px;
}
.btn-submit:hover{
    cursor:pointer;
}

.form-line{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #25d3a2b2;
    outline: none;
}

.main-logo{
    width: 64px !important;
    height: 64px !important;
}

.input-text-size{
    font-size: .85rem !important;
    color: #494949;
    letter-spacing: .5px;
}

.error {
    /* border: 2px red solid !important; */
    color: rgba(255, 74, 74, 0.651);
}

 /* End Login Styles */



.img-add{
    width: 20px;
    height: auto;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 01000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover{
    color: #495057 !important;
}

.btn-light{
    background-color: transparent !important;
}



.bootstrap-select {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem 1.75rem .375rem .75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057 !important;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }
  .bootstrap-select .btn {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px) !important;
    /* padding: .375rem 1.75rem .375rem .75rem; */
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057 !important;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .container a{
    color: #495057 !important;

  }
  

  .bootstrap-select .dropdown-menu {
    margin: 15px 0 0;
  }

  
  select::-ms-expand {
    /* for IE 11 */
    display: none;
  }