{% include 'navbar.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

<div class="container-fluid">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off" data-toggle="collapse"
                data-target="#articulo" aria-expanded="false" aria-controls="articulo">Articulo
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" data-toggle="collapse"
                data-target="#capituloLibro" aria-expanded="false" aria-controls="capituloLibro">Libro/Capitulo
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off" data-toggle="collapse"
                data-target="#patente" aria-expanded="false" aria-controls="patente">Patente
        </label>

        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option4" autocomplete="off" data-toggle="collapse"
                data-target="#congreso" aria-expanded="false" aria-controls="congreso">Congreso
        </label>

        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option5" autocomplete="off" data-toggle="collapse"
                data-target="#investigacion" aria-expanded="false" aria-controls="investigacion">Investigación
        </label>

        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option6" autocomplete="off" data-toggle="collapse"
                data-target="#tesis" aria-expanded="false" aria-controls="tesis">Tesis
        </label>

    </div>
    <div class="collapse" id="articulo">
        <div class="card card-body">
            <form action="">
                {% for field in ArticuloForm %}
                <p>
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.name == "primer_autor" or field.name == "primer_coladorador" or field.name == "segundo_colaborador" %}
                        <a href="javascript:void(0);" data-url="author/create" id="add_author" onclick="return showAddPopup(this);">
                            <img src="{% static 'img/add.png' %}" alt="">
                        </a>
                    {% endif %}
                </p>
                {% endfor %}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>

    <div class="collapse" id="capituloLibro">
        <div class="card card-body">
            <form action="">
                {{CapituloLibroForm.as_p}}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>

    <div class="collapse" id="patente">
        <div class="card card-body">
            <form action="">
                {{PatenteForm.as_p}}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>

    <div class="collapse" id="congreso">
        <div class="card card-body">
            <form action="">
                {{CongresoForm.as_p}}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>


    <div class="collapse" id="investigacion">
        <div class="card card-body">
            <form action="">
                {{InvestigacionForm.as_p}}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>


    <div class="collapse" id="tesis">
        <div class="card card-body">
            <form action="">
                {{TesisForm.as_p}}
                <input type="submit" name="" id="" value="Enviar">
            </form>
        </div>
    </div>

</div>
{% endblock %}