{% include 'navbar.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Agregar una Patente</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="non-field-errors">
        {% for err in form.non_field_errors %}
        <p class="form-error">{{ err }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <form action="{% url 'AddPatente' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field.errors }}
            {{ field.label_tag }}

            {% if field.name == 'publicacion' %}
            {{ field|addclass:' datepicker' }}
            {% else %}
            {{ field|addclass:'' }}
            {% endif %}

            {% if field.name == "autores" %}
            <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_author" onclick="return showAddPopup(this);">
                <img src="{% static 'img/add.png' %}" alt="">
            </a>
            {% endif %}


            {% if field.name == "lineas_investigacion" %}
            <a href="javascript:void(0);" data-url="{% url 'LineasCreate' %}" id="add_lineas"
                onclick="return showAddPopup(this);">
                <img src="{% static 'img/add.png' %}" alt="">
            </a>
            {% endif %}

        </div>
        {% endfor %}
        <input type="submit" name="" id="" value="Enviar">
    </form>
</div>


{% endblock %}