{% include 'head.html' %}
{% include 'navbar.html' %}
{% load custom_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<script src="{% static 'js/VerificarCambiosForm.js' %}"></script>"
<script src="{% static 'js/PillsBox.js' %}"></script>"
<script defer src="{% static 'js/AgregarProducto.js' %}"></script>"

<div class="container l-main mt-5 pt-4">
    <div class="row" id="messages">
        <div class="col-12 p-0">
            <!-- Mensaje de exito -->
            {% if messages %}
            <div class="alert alert-success text-center">
                {% for message in messages %}
                <strong>{{message}} </strong>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Mensajes de error sin campo asociado -->
            {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                <p class="form-error">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}

            
            <!-- Mostrando errores de todos los campos -->
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Corrigue los siguientes errores:</strong>
                <ul>
                    {% for field in form %}
                    {% if field.errors %}
                    <li>
                        <p>{{field.errors|striptags}}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-title">
            <h3>Agregar Producto</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-header  pt-0">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if producto == 'articulo' %}active{% endif %}" href="{% url 'AddArticulo' %}">
                        Articulo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if producto == 'libro' %}active{% endif %}" href="{% url 'AddCapituloLibro' %}">
                        Libro / Capítulo
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if producto == 'patente' %}active{% endif %}" href="{% url 'AddPatente' %}">
                        Patente
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if producto == 'congreso' %}active{% endif %}" href="{% url 'AddCongreso' %}">
                        Congreso
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if producto == 'investigacion' %}active{% endif %}" href="{% url 'AddInvestigacion' %}">
                        Investigación
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if producto == 'tesis' %}active{% endif %}" href="{% url 'AddTesis' %}">
                        Tesis
                    </a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <!-- Formulario -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.profesor %}
                    {{form.profesor}}
                {% endif %}

                <!-- Se utiliza un campo exclusivo de cada form para condicionar que form va a aparecer -->

                {% if form.categoria %}
                <!-- Form de Articulo -->
                <div class="l-form flex-column">
                    <div class="row">
                        <h5 class="col-12 mb-3 mt-3">Información General</h5>
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-1">
                            <label for="id_titulo">{{form.titulo.label}}</label>
                            {{form.titulo}}
                        </div>
                        <!-- Descripción -->
                        <div class="m-form-input col-4 mb-1">
                            <label for="id_descripcion">{{form.descripcion.label}}</label>
                            {{form.descripcion}}
                        </div>
                        <!-- Categoria -->
                        <div class="m-form-input col-4 mb-1">
                            <label for="id_categoria">{{form.categoria.label}}</label>
                            {{form.categoria}}
                        </div>
                        <!-- Primer Autor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_autor">{{form.primer_autor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_autor|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_primer_autor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Primer Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_colaborador">{{form.primer_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_colaborador|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_primer_colaborador"
                                    onclick="return showAddPopup(this, 'id_primer_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Segundo Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_segundo_colaborador">{{form.segundo_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                <!-- {{form.segundo_colaborador|addclass:'custom-select custom-select-sm'}} -->
                                {{form.segundo_colaborador|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_segundo_colaborador"
                                    onclick="return showAddPopup(this, 'id_segundo_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Tercer Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tercer_colaborador">{{form.tercer_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.tercer_colaborador|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_tercer_colaborador"
                                    onclick="return showAddPopup(this, 'id_tercer_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Cuarto Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_cuarto_colaborador">{{form.cuarto_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.cuarto_colaborador|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_cuarto_colaborador"
                                    onclick="return showAddPopup(this, 'id_cuarto_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <h5 class="col-12 mb-3 mt-3">Información Especifíca</h5>
                        <!-- Estado -->
                        <div class="m-form-input col-4">
                            <label for="id_estado">{{form.estado.label}}</label>
                            {{form.estado}}
                        </div>
                        <!-- País -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_pais">{{form.pais.label}}</label>
                            <!-- {{form.pais|addclass:'custom-select custom-select-sm'}} -->
                            {{form.pais|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                        </div>
                        <!-- Revista -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_revista">{{form.revista.label}}</label>
                            {{form.revista|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                        </div>
                        <!-- Editorial -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_editorial">{{form.editorial.label}}</label>
                            {{form.editorial|attr:"data-live-search:true"|addclass:'form-control selectpicker'}}
                        </div>
                        <!-- Volumen -->
                        <div class="m-form-input col-4">
                            <label for="id_volumen">{{form.volumen.label}}</label>
                            {{form.volumen}}
                        </div>
                        <!-- URL -->
                        <div class="m-form-input col-4">
                            <label for="id_url">{{form.url.label}}</label>
                            {{form.url}}
                        </div>
                    </div>
                    <div class="row">
                        <!-- Fecha de Publicación -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.publicacion.help_text}}">
                                <label for="id_publicacion">{{form.publicacion.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.publicacion|addclass:'datepicker'}}
                        </div>
                        <!-- ISNN -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.isnn.help_text}}">
                                <label for="id_isnn">{{form.isnn.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.isnn}}
                        </div>
                        <!-- DOI -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.doi.help_text}}">
                                <label for="id_doi">{{form.doi.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.doi}}
                        </div>   
                        
                        <!-- Indice de Revista -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.indice_revista.help_text}}">
                                <label for="id_indice_revista">{{form.indice_revista.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.indice_revista}}
                        </div>
                        <!-- Página de Inicio -->
                        <div class="m-form-input col-2 mb-3">
                            <label for="id_pagina_inicio">{{form.pagina_inicio.label}}</label>
                            {{form.pagina_inicio}}
                        </div>
                        <!-- Página Final -->
                        <div class="m-form-input col-2 mb-3">
                            <label for="id_pagina_fin">{{form.pagina_fin.label}}</label>
                            {{form.pagina_fin}}
                        </div>
                        <div class="col-12 d-flex flex-row p-0">
                            <!-- Palabras Clave -->
                           <div class="m-form-input col-4 mb-2" id="pills_palabras">
                               <label for="id_investigaciones">{{form.palabras_clave.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas palabras clave aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                           <!-- Lineas de Investigación -->
                           <div class="m-form-input col-4 mb-2" id="pills_lineas">
                               <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                <!-- ENDS ARTICLE -->


                {% if form.cuarto_coautor %}
                <!-- Form de Libro/Cápitulo -->
                <div class="l-form flex-column">
                    <div class="row pl-0">
                        <h5 class="col-12 mb-3 mt-3">Información General</h5>
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_titulo">{{form.titulo.label}} 
                                <small>({{form.titulo.help_text}})</small>
                            </label>
                            {{form.titulo}}
                        </div>
                        <!-- Primer Autor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_autor">{{form.primer_autor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_autor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_primer_autor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Primer Coautor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_coautor">{{form.primer_coautor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_coautor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_primer_coautor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Segundo Coautor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_segundo_coautor">{{form.segundo_coautor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.segundo_coautor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_segundo_coautor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Tercer Coautor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tercer_coautor">{{form.tercer_coautor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.tercer_coautor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this,'id_tercer_coautor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Cuarto Coautor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_cuarto_coautor">{{form.cuarto_coautor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.cuarto_coautor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_cuarto_coautor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-0">
                        <h5 class="col-12 mb-3 mt-3">Información Especifíca</h5>
                        <!-- Tipo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tipo">{{form.tipo.label}}</label>
                            {{form.tipo}}
                        </div>
                         <!-- Estado -->
                         <div class="m-form-input col-4 mb-3">
                            <label for="id_estado">{{form.estado.label}}</label>
                            {{form.estado}}
                        </div>
                        <!-- País -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_pais">{{form.pais.label}}</label>
                            {{form.pais}}
                        </div>
                        <!-- Editorial -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_editorial">{{form.editorial.label}}</label>
                            {{form.editorial}}
                        </div>
                        <!-- Propósito -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_proposito">{{form.proposito.label}}</label>
                            {{form.proposito}}
                        </div>
                        <!-- Fecha de Publicación -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.publicacion.help_text}}">
                                <label for="id_publicacion">{{form.publicacion.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.publicacion|addclass:'datepicker'}}
                        </div>
                        <!-- ISBN -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.isbn.help_text}}">
                                <label for="id_isbn">{{form.isbn.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                        {{form.isbn}}
                        </div>
                        <!-- Edicion -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_edicion">{{form.edicion.label}}</label>
                            {{form.edicion}}
                        </div>
                        <!-- Tiraje -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tiraje">{{form.tiraje.label}}</label>
                            {{form.tiraje}}
                        </div>
                        
                        <div class="col-12 p-0 d-flex flex-row">
                            <!-- Palabras Clave -->
                            <div class="m-form-input col-4 mb-2" id="pills_palabras">
                               <label for="id_investigaciones">{{form.palabras_clave.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas palabras clave aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                           <!-- Lineas de Investigación -->
                           <div class="m-form-input col-4 mb-2" id="pills_lineas">
                               <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                           <!-- Página de Inicio -->
                        <div class="m-form-input col-2 mb-3">
                            <label for="id_pagina_inicio">{{form.pagina_inicio.label}} 
                                <small>({{form.pagina_inicio.help_text}})</small>
                            </label>
                            {{form.pagina_inicio}}
                        </div>
                        <!-- Página Final -->
                        <div class="m-form-input col-2 mb-3">
                            <label for="id_pagina_fin">{{form.pagina_fin.label}} 
                                <small>({{form.pagina_fin.help_text}})</small>
                            </label>
                            {{form.pagina_fin}}
                        </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- END OF BOOK -->


                <!-- START PATENT -->
                {% if form.uso %}
                <!-- Form de Patente -->
                <div class="l-form flex-column">
                    <div class="row pl-0">
                        <!-- Autores -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_autores">{{form.autores.label}} <small>({{form.autores.help_text}})</small></label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.autores|addclass:'m-input-multiselect'}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autores"
                                    onclick="return showAddPopup(this, 'id_autores');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_titulo">{{form.titulo.label}}</label>
                            {{form.titulo}}
                        </div>
                        <!-- Descripción -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_descripcion">{{form.descripcion.label}}</label>
                            {{form.descripcion}}
                        </div>
                        
                    </div>
                    <div class="row pl-0">
                        <!-- Uso -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_uso">{{form.uso.label}}</label>
                            {{form.uso}}
                        </div>
                        <!-- Número de Patente -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.registro.help_text}}">
                                <label for="id_registro">{{form.registro.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.registro}}
                        </div>
                        <!-- País -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.pais.help_text}}">
                                <label for="id_pais">{{form.pais.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.pais}}
                        </div>
                        <!-- Fecha de Publicación -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.publicacion.help_text}}">
                                <label for="id_publicacion">{{form.publicacion.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.publicacion|addclass:'datepicker'}}
                        </div>
                        <!-- Proposito -->
                        <div class="m-form-input col-4">
                            <label for="id_proposito">{{form.proposito.label}}</label>
                            {{form.proposito}}
                        </div>
                        <!-- Comprobante -->
                        <div class="col-4">
                            <label>{{form.comprobante.label}}</label>
                            <div class="m-form-input col-12 custom-file">
                                <br>
                                <label class="custom-file-label m-input-file h-text-overflow m-input-file" for="id_comprobante">Sube un comprobante</label>
                                {{ form.comprobante|addclass:'custom-file-input' }}
                            </div>
                        </div>
                        
                        <!-- Lineas de Investigación -->
                        <div class="m-form-input col-4 mb-2" id="pills_lineas">
                            <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                            <div class="col-12 p-0">
                                <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                    <div class="m-pill-input_selected-pills col-12">
                                    </div>
                                </div>  
                                <div class="m-form-input">
                                    <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                </div>
                                <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- END PATENT -->
                

                <!-- START CONGRESS -->
                {% if form.ciudad %}
                <!-- Form de Congreso -->
                <div class="l-form flex-column">
                    <div class="row pl-0">
                        <h5 class="col-12 mb-3 mt-3">Información General</h5>
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_titulo">{{form.titulo.label}}</label>
                            {{form.titulo}}
                        </div>
                        <!-- Descripción -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_descripcion">{{form.descripcion.label}}</label>
                            {{form.descripcion}}
                        </div>
                        <!-- Primer Autor -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_autor">{{form.primer_autor.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_autor}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_autor"
                                    onclick="return showAddPopup(this, 'id_primer_autor');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Primer Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_colaborador">{{form.primer_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_primer_colaborador"
                                    onclick="return showAddPopup(this, 'id_primer_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Segundo Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_segundo_colaborador">{{form.segundo_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.segundo_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_segundo_colaborador"
                                    onclick="return showAddPopup(this, 'id_segundo_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Tercer Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tercer_colaborador">{{form.tercer_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.tercer_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_tercer_colaborador"
                                    onclick="return showAddPopup(this, 'id_tercer_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Cuarto Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_cuarto_colaborador">{{form.cuarto_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.cuarto_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_cuarto_colaborador"
                                    onclick="return showAddPopup(this, 'id_cuarto_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-0">
                        <h5 class="col-12 mb-3 mt-3">Información Especifica</h5>
                        <!-- Estado Actual -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_estado">{{form.estado.label}}</label>
                            {{form.estado}}
                        </div>
                        <!-- Congreso -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_congreso">{{form.congreso.label}}</label>
                            {{form.congreso}}
                        </div>
                        <!-- País -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_pais">{{form.pais.label}}</label>
                            {{form.pais}}
                        </div>
                        <!-- Estado -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.estadoP.help_text}}">
                                <label for="id_estadoP">{{form.estadoP.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.estadoP}}
                        </div>
                        <!-- Ciudad -->
                        <div class="m-form-input col-4 mb-3">
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.ciudad.help_text}}">
                                <label for="id_ciudad">{{form.ciudad.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            {{form.ciudad}}
                        </div>
                         <!-- Fecha de Publicación -->
                         <div class="m-form-input col-4 mb-3">
                            <label for="id_publicacion">{{form.publicacion.label}}</label>
                            {{form.publicacion|addclass:'datepicker'}}
                        </div>
                         <!-- Fecha de Presentacion -->
                         <div class="m-form-input col-4 mb-3">
                            <label for="id_presentacion">{{form.presentacion.label}}</label>
                            {{form.presentacion|addclass:'datepicker'}}
                        </div>
                        <!-- Proposito -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_proposito">{{form.proposito.label}}</label>
                            {{form.proposito}}
                        </div>
                        <div class="col-12 d-flex flex-row p-0">
                            <!-- Palabras Clave -->
                            <div class="m-form-input col-4 mb-2" id="pills_palabras">
                                <label for="id_investigaciones">{{form.palabras_clave.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas palabras clave aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <!-- Lineas de Investigación -->
                            <div class="m-form-input col-4 mb-2" id="pills_lineas">
                                <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                {% endif %}

                <!-- END CONGRESS -->

                
                
                <!-- START RESEARCH -->
                {% if form.financiamiento %}
                <!-- Form de Investigación -->
                <div class="l-form flex-column">
                    <div class="row pl-0">
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_titulo">{{form.titulo.label}}</label>
                            {{form.titulo}}
                        </div>
                       <!-- Responsable -->
                       <div class="m-form-input col-4 mb-3">
                        <label for="id_responsable">{{form.responsable.label}}</label>
                        {{form.responsable}}
                        </div>

                        <!-- Institución -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_institucion">{{form.institucion.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.institucion}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'InstitucionCreate' %}" id="add_institucion"
                                    onclick="return showAddPopup(this, 'id_institucion');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Project type -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tipo_proyecto">{{form.tipo_proyecto.label}}</label>
                            {{form.tipo_proyecto}}
                        </div>
                         <!-- Tipo de Financiamiento -->
                         <div class="m-form-input col-4 mb-3">
                            <label for="id_tipo_financiamiento">{{form.tipo_financiamiento.label}}</label>
                            {{form.tipo_financiamiento}}
                        </div>
                    
                         <!-- Financiamiento -->
                         <div class="col-4 mb-3 d-flex h-align-center">
                            <label for="id_financiamiento" class="m-0">{{form.financiamiento.label}}</label>
                            {{form.financiamiento|addclass:'m-form-checkbox'}}
                        </div>
                        
                        <!-- Primer Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_colaborador">{{form.primer_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_primer_colaborador"
                                    onclick="return showAddPopup(this, 'id_primer_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Segundo Colaborador -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_segundo_colaborador">{{form.segundo_colaborador.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.segundo_colaborador}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AuthorCreate' %}" id="add_segundo_colaborador"
                                    onclick="return showAddPopup(this, 'id_segundo_colaborador');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                                </div>
                            </div>
                        <!-- Primer Alumno -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_primer_alumno">{{form.primer_alumno.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.primer_alumno}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AlumnoCreate' %}" id="add_primer_alumno"
                                    onclick="return showAddPopup(this, 'id_primer_alumno');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Segundo Alumno -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_segundo_alumno">{{form.segundo_alumno.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.segundo_alumno}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AlumnoCreate' %}" id="add_segundo_alumno"
                                    onclick="return showAddPopup(this, 'id_segundo_alumno');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Tercer Alumno -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_tercer_alumno">{{form.tercer_alumno.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.tercer_alumno}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AlumnoCreate' %}" id="add_tercer_alumno"
                                    onclick="return showAddPopup(this, 'id_tercer_alumno');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>           
                        
                        <div class="m-form-input col-4 mb-3">
                            <!-- Resumen -->
                            <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="{{form.resumen.help_text}}">
                                <label for="id_resumen">{{form.resumen.label}}</label>
                                <i class="fas fa-question-circle"></i>
                            </div>
                            <div class="m-form-input custom-file">
                                <br>
                                <label class="custom-file-label m-input-file h-text-overflow m-input-file" for="id_resumen">Sube un resumen</label>
                                {{ form.resumen|addclass:'custom-file-input' }}
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row p-0">
                            <!-- Palabras Clave -->
                           <div class="m-form-input col-4 mb-3" id="pills_palabras">
                               <label for="id_investigaciones">{{form.palabras_clave.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas palabras clave aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                           <!-- Lineas de Investigación -->
                           <div class="m-form-input col-4 mb-3" id="pills_lineas">
                               <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                               <div class="col-12 p-0">
                                   <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                       <div class="m-pill-input_selected-pills col-12">
                                       </div>
                                   </div>  
                                   <div class="m-form-input">
                                       <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                   </div>
                                   <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                   </div>
                               </div>
                           </div>
                           <!-- Fecha de Inicio -->
                         <div class="m-form-input col-2 mb-3">
                            <label for="id_inicio">{{form.inicio.label}}</label>
                            {{form.inicio|addclass:'datepicker'}}
                        </div>
                         <!-- Fecha de Fin -->
                         <div class="m-form-input col-2 mb-3">
                            <label for="id_fin">{{form.fin.label}}</label>
                            {{form.fin|addclass:'datepicker'}}
                        </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- END RESEARCH -->

                <!-- START TESIS -->
                {% if form.profesor %}
                <!-- Form de Tesis -->
                <div class="l-form flex-column">
                    <div class="row pl-0">
                        <!-- Titulo -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_titulo">{{form.titulo.label}}</label>
                            {{form.titulo}}
                        </div>
                        <!-- Grado -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_grado">{{form.grado.label}}</label>
                            {{form.grado}}
                        </div>
                        <!-- Alumno -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_alumno">{{form.alumno.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.alumno}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'AlumnoCreate' %}" id="add_alumno"
                                    onclick="return showAddPopup(this, 'id_alumno');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>

                        <!-- Institución -->
                        <div class="m-form-input col-4 mb-3">
                            <label for="id_institucion">{{form.institucion.label}}</label>
                            <div class="col-12 pl-0 h-align-center">
                                {{form.institucion}}
                                <div class="col-1">
                                <a href="javascript:void(0);" data-url="{% url 'InstitucionCreate' %}" id="add_institucion"
                                    onclick="return showAddPopup(this, 'id_institucion');">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                        <!-- Fecha de Inicio -->
                        <div class="m-form-input col-2 mb-3">
                            <label for="id_inicio">{{form.inicio.label}}</label>
                            {{form.inicio|addclass:'datepicker'}}
                        </div>
                        <!-- Fecha de Fin -->
                        <div class="m-form-input col-2 mb-3">
                        <label for="id_fin">{{form.fin.label}}</label>
                        {{form.fin|addclass:'datepicker'}}
                        </div>
                        
                        <div class="col-12 d-flex flex-row p-0">
                            <!-- Palabras Clave -->
                            <div class="m-form-input col-4 mb-3" id="pills_palabras">
                                <label for="id_investigaciones">{{form.palabras_clave.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas palabras clave aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <!-- Lineas de Investigación -->
                            <div class="m-form-input col-4 mb-3" id="pills_lineas">
                                <label for="id_investigaciones">{{form.lineas_investigacion.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-12 pl-0 mt-0 m-form-button">
                    <input class="btn m-button m-button--comunidapp" disabled type="submit" name="" id="" value="Agregar">
                </div>
        </div>
    </div>


{% endblock %}