{% load static %}

<!-- Header -->
 <header class="col-12 l-fixed-top m-header">
    <div class="col-2 m-header__logo-container">
        <img src="{% static 'img/logo.png' %}" class="m-header__image">
        <b class="m-header__title">Comunidapp</b>
    </div>
    <div class="col-5">
        <a href="" class="m-header__button">Solicitudes</a>
        <a href="" class="m-header__button">Agregar Usuarios</a>
    </div>
    <div class="col-4 m-header__search-container">
        <input class="m-search" type="text" name="search" id="search" placeholder="Buscar">
        <ul>
            <li class="m-profile-picture" data-picture="../img/person.jpg" id="dropdown_parent">
            </li>
            <ul class="m-header__dropdown" id="dropdown">
                <li><a href="">Mi Perfil</a></li>
                <li><a href="">Cerrar Sesión</a></li>
            </ul>
        </ul>
    </div>
</header>