{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}

    <!-- Contenedor Principal -->
    <div class="container l-main h-10 pt-5 mt-5'">
        <div class="row mt-5">
            <div class="col-12 m-title">
                <h3>Usuarios</h3>
            </div>
        </div>
        <div class="row">
            <!-- Grid de tarjetas -->
            <div class="l-grid col-12">

                {% for user in object_list %}
                <div class="m-user-info m-user-info--card col-3" onclick="location.href='{% url 'profile-detail' pk=user.id %}' ">
                    <div class="m-profile-picture" style="
                    {% if user.foto %}
                        background-image: url({{user.foto.url}});
                    {% else %}
                        {% if user.sexo %}
                            {% if user.sexo == 'H' %}
                                background-image: url({% static 'img/profesor1.svg' %});
                            {% else %}
                                background-image: url({% static 'img/profesor2.svg' %});
                            {% endif %}
                        {% else %}
                            background-image: url({% static 'img/profesor1.svg' %});
                        {% endif %}
                    {% endif %}"
                    ></div>
                    <div class="m-user-info__text">
                        <b class="h-text-overflow">{{user.get_full_name}}</b>
                        <p class="h-text-overflow">{{user.email}}</p>
                    </div>
                </div>

                
                {% endfor %}

            </div>
        </div>
    </div>
</body>
</html>