{% include 'navbar.html' %}
{% load custom_tags %}
{% block content %}

<div class="container-fluid">
    <h1>Mi perfil - Datos actuales</h1>
    <p>Recuerda que para cambiar tus datos deberas solicitar aprobacion del administrador <small>(El administrador aprobara o rechazara los cambios)</small></p>
    <p><a href="{% url 'password' %}">Cambiar contraseña</a></p>
    <p><a href="{% url 'AddArticulo' %}">Agregar un articulo</a></p>
    <p><a href="{% url 'AddCapituloLibro' %}">Agregar un Capitulo/Libro</a></p>
    <p><a href="{% url 'AddPatente' %}">Agregar una Patente</a></p>
    <p><a href="{% url 'AddCongreso' %}">Agregar una Participacion en Congreso</a></p>
    <p><a href="{% url 'AddInvestigacion' %}">Agregar un Proyecto de Investigacion/Vinculacion</a></p>
    <p><a href="{% url 'AddTesis' %}">Agregar una direccion de tesis</a></p>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}


            {% for field in form.visible_fields %}
            
                {{ field.errors }}
                {{ field.label }}
                {{ field|addclass:'form-line p-0 w-100 mt-2 mb-2' }}
                <br>
            {% endfor %}
            <input class="btn btn-sm btn-submit" type="submit" value="Solicitar cambios" />
        </form>
    </div>
</div>
{% endblock %}