{% load static %}

<script defer src="{% static 'js/Header.js' %}"></script>

<!-- Header -->
 <header class="col-12 l-fixed-top m-header">
    <div class="col-2 m-header__logo-container" id="logo">
        <img src="{% static 'img/logo.png' %}" class="m-header__image">
        <b class="m-header__title">Comunidapp</b>
    </div>
    <div class="col-4 offset-3 d-flex justify-content-end p-0">
        <a href="{% url 'home' %}" class="m-header__button  d-flex justify-content-center align-items-center {% if path == 'home' %} m-header__button--active {% endif%}">Inicio</a>
        {% if user.is_staff or user.is_superuser %}
            <a href="{% url 'updates' %}" class="m-header__button d-flex justify-content-center align-items-center {% if path == 'solicitudes' %} m-header__button--active {% endif%}">Solicitudes</a>
            <a href="{% url 'AddProfesorUsers' %}" class="m-header__button mr-0 d-flex justify-content-center align-items-center {% if path == 'usuarios' %} m-header__button--active {% endif%}">Agregar usuarios</a>
            <a href="{% url 'visualization' %}" class="m-header__button mr-0 ml-2 d-flex justify-content-center align-items-center {% if path == 'visualization' %} m-header__button--active {% endif%}">Visualización</a>
        {% else %}
            <a href="{% url 'AddArticulo' %}" class="m-header__button d-flex justify-content-center align-items-center {% if path == 'productos' %} m-header__button--active p-0{% endif%}">Agregar Productos</a>
        {% endif %}
    </div>
    <div class="col-3 m-header__search-container">
        <input class="m-search" type="text" name="search" id="search" placeholder="Buscar">
        <ul>
            <li class="m-profile-picture" 
            {% if user.foto %}
                data-picture="{{user.foto.url}}"
            {% else %}
                data-picture="{% static 'img/person.jpg' %}" 
            {% endif %}
            
            id="dropdown_parent" 
            style="
                
                {% if request.user.foto %}
                    background-image: url({{request.user.foto.url}});
                {% else %}
                    background-image: url({% static 'img/person.jpg' %});
                {% endif %}"
            >
            </li>
            <ul class="m-header__dropdown" id="dropdown">
                {% if request.user.get_short_name %}
                    <li class="d-flex justify-content-center ">{{request.user.get_short_name}}</li>
                {% endif %}
                {% if not request.user.is_staff or not request.user.is_superuser %}
                    <li class="d-flex justify-content-center "><a href="/user/{{user.id}}">Mi Perfil</a></li>
                {% endif %}

                <li class="d-flex justify-content-center "><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
            </ul>
        </ul>
    </div>
</header>