<!-- 
    ESTE FORMULARIO ES PARA EL HTML DE CAMPOS EXTERNOS,
    YA QUE NO TIENE BOTONES QUE TE PUEDAN LLEVAR A OTRO LADO
-->
{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>

<body>
    <header class="col-12 l-fixed-top m-header">
        <div class="col-2 m-header__logo-container">
            <img src="{% static 'img/logo.png' %}" class="m-header__image">
            <b class="m-header__title">Comunidapp</b>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>