{% include 'navbar.html' %}
{% load custom_tags %}
{% block content %}

<div class="container-fluid">
    <h1 class="display-4">Cambiar contraseña</h1>
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}


        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.label }}
            {{ field|addclass:'form-line p-0 w-100 mt-2 mb-2' }}
            <br>
        {% endfor %}
        <button type="btn btn-sm">Enviar2</button>
    </form>

</div>



{% endblock %}