{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}


    <!-- Contenedor Principal -->
    <div class="container l-main">
        <div class="row">
            <div class="col-12 l-grid">
                <div class="col-4">
                    <div class="m-user-info col-12">
                        <div class="m-profile-picture m-profile-picture--big"
                            style="
                            {% if user.foto %}
                                background-image: url({{user.foto.url}});
                            {% else %}
                                background-image: url({% static 'img/person.jpg' %});
                            {% endif %}"></div>
                        <div class="m-user-info__text">
                            <h5>{{user.get_full_name}}</h5>
                            {% if user.publico %}
                                <p>{{user.email}}</p>
                            {% else %}
                                <p>Email privado</p>
                            {% endif %}

                            {% if request.user == user %}
                                <button class="btn m-button m-button--comunidapp" id="editar_button">Editar Perfil</button>
                            {% endif %}
                            
                        </div>
                    </div>
                    {% if user.publico %}
                        <div class="col-12">
                            <b>Clave de Empleado</b>
                            <p>{{user.clave}}</p>
                        </div>
                        <div class="col-12">
                            <b>Género</b>
                            <p>{{user.get_sexo_display}}</p>
                        </div>
                        <div class="col-12">
                            <b>Estudios</b>
                            <p>{{user.get_grado_display}}</p>
                        </div>
                        <div class="col-12">
                            <b>Niveles</b>
                            <p>
                                {{user.niveles.all|join:' • '}}
                            </p>
                        </div>
                        <div class="col-12">
                            <b>Facultad</b>
                            <p>
                                {{user.facultades.all|join:' • '}}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-8 m-publications">
                    <div class="row">
                        <div class="col-12 m-publications__lineas">
                            <b>Lineas de Investigación</b>
                            <div class="l-pill-container">
                                {% for linea in user.investigaciones.all %}
                                    <div class="m-pills">{{linea}}</div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Bootstrap's implementation of tabbed navigation -->

                            <!-- Tabs -->
                            <ul class="nav nav-tabs" id="products" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link active" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">Articulos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="libroscapitulos-tab" data-toggle="tab" href="#libroscapitulos" role="tab" aria-controls="libroscapitulos" aria-selected="false">Libros o Capítulos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="patentes-tab" data-toggle="tab" href="#patentes" role="tab" aria-controls="patentes" aria-selected="false">Patentes</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="congresos-tab" data-toggle="tab" href="#congresos" role="tab" aria-controls="congresos" aria-selected="false">Congresos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="investigaciones-tab" data-toggle="tab" href="#investigaciones" role="tab" aria-controls="investigaciones" aria-selected="false">Investigaciones</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <a class="nav-link" id="tesis-tab" data-toggle="tab" href="#tesis" role="tab" aria-controls="tesis" aria-selected="false">Tesis</a>
                                </li>
                            </ul>

                            <!-- Content -->    
                            <div class="tab-content" id="productsContent">
                                <div class="tab-pane fade show active" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">
                                    {% if articulos %}
                                        {% for articulo in articulos %}
                                            <div class="m-product-card " data-tipoProducto="articulo" data-idProducto={{articulo.id}} >
                                                <b class="h-text-overflow">{{articulo.titulo}}</b>
                                                {% if articulo.publicacion %}
                                                    <p class="h-text-overflow">{{articulo.publicacion}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    <p class="mt-2">{{user.get_short_name}} no tiene Articulos aún.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="libroscapitulos" role="tabpanel" aria-labelledby="libroscapitulos-tab">
                                    {% if capituloslibros %}
                                        {% for capitulolibro in capituloslibros %}
                                            <div class="m-product-card" data-tipoProducto="capituloLibro" data-idProducto={{capitulolibro.id}} >
                                                <b class="h-text-overflow">{{capitulolibro.titulo}}</b>
                                                {% if capitulolibro.publicacion %}
                                                    <p class="h-text-overflow">{{capitulolibro.publicacion}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            <p class="mt-2">{{user.get_short_name}} no tiene Libros o Capitulos aún.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="patentes" role="tabpanel" aria-labelledby="patentes-tab">
                                    {% if patentes %}
                                        {% for patente in patentes %}
                                            <div class="m-product-card" data-tipoProducto="patente" data-idProducto={{patente.id}} >
                                                <b class="h-text-overflow">{{patente.titulo}}</b>
                                                {% if patente.publicacion %}
                                                    <p class="h-text-overflow">{{patente.publicacion}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            <p class="mt-2">{{user.get_short_name}} no tiene Patentes aún.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="congresos" role="tabpanel" aria-labelledby="congresos-tab">
                                    {% if congresos %}
                                        {% for congreso in congresos %}
                                            <div class="m-product-card" data-tipoProducto="congreso" data-idProducto={{congreso.id}} >
                                                <b class="h-text-overflow">{{congreso.titulo}}</b>
                                                {% if congreso.publicacion %}
                                                    <p class="h-text-overflow">{{congreso.publicacion}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            <p class="mt-2">{{user.get_short_name}} no tiene Congresos aún.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="investigaciones" role="tabpanel" aria-labelledby="investigaciones-tab">
                                    {% if investigaciones %}
                                        {% for investigacion in investigaciones %}
                                            <div class="m-product-card" data-tipoProducto="investigacion" data-idProducto={{investigacion.id}} >
                                                <b class="h-text-overflow">{{investigacion.titulo}}</b>
                                                {% if investigacion.fin %}
                                                    <p class="h-text-overflow">{{investigacion.fin}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            <p class="mt-2">{{user.get_short_name}} no tiene Investigaciones aún.</p>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="tesis" role="tabpanel" aria-labelledby="tesis-tab">
                                    {% if tesis %}
                                        {% for tesi in tesis %}
                                            <div class="m-product-card" data-tipoProducto="tesis" data-idProducto={{tesi.id}} >
                                                <b class="h-text-overflow">{{tesi.titulo}}</b>
                                                {% if tesi.fin %}
                                                    <p class="h-text-overflow">{{tesi.fin}}</p>
                                                {% else %}
                                                    <p class="h-text-overflow">Publicacion en tramite</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            <p class="mt-2">{{user.get_short_name}} no tiene Tesis aún.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap's implementation of a modal -->
    <div class="modal fade" id="detallesModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="product-title">Titulo del Producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Información del producto</p>
              <p class="modal-date">Fecha: </p>
              <p class="modal-colabs">Colaboradores: </p>
              <p class="modal-lines">Líneas de Investigación: </p>
              
            </div>
          </div>
        </div>
      </div>
</body>
</html>