{% include 'head.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <form method='POST' id="popup_form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Agregar"/>
    </form>
    <script>
        window.onload = function(){
            const id_field = localStorage.getItem('id_field');
            const field = document.getElementById('id_id_field');
            field.value = id_field;
            // alert(id_field);
        }
    </script>
</div>
{% endblock %}