{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}


    <!-- Contenedor Principal -->
    <div class="container l-main">
        <div class="row">
            <div class="col-12">
                <h3>Aprobar Cambios</h3>
            </div>
        </div>

        {% if object_list %}

            <div class="row">
                <div class="col-12 l-cambios">
                    
                    {% for actualizacion in object_list %}
                        <form action="{% url 'updates' %}" method="POST">
                            {% csrf_token  %}
                            <input type="hidden" value="{{actualizacion.id}}" name="id">
                            <div class="m-cambios" style="display: flex; flex-wrap:wrap;">
                                <div class="m-cambios__header">
                                    <b>{{actualizacion.user.get_full_name}}</b>
                                </div>
                                <div class="m-cambios__content col-12">
                                    <div class="col-8 d-flex flex-wrap">
                                        {% for key, value in actualizacion.changed_fields.items %}
                                            {% for v in value %}
                                                    <div style="width: 300px;">
                                                        {% if v != 'investigaciones' and v != 'niveles' and v != 'facultades' %}
                                                            <b>Actualización de
                                                                <!-- Harcoding del nombre de las variables, ya que necesitan ser guardados con el nombre del campo especifico -->
                                                                {% if v == 'first_name' %}
                                                                    nombre(s)
                                                                {% elif v == 'email' %}
                                                                    correo electrónico
                                                                {% elif v == 'sexo' %}
                                                                    genero
                                                                {% elif v == 'grado' %}
                                                                    estudios
                                                                {% elif v == 'publico' %}
                                                                    perfil público
                                                                {% elif v == 'last_name' %}
                                                                    apellido(s)
                                                                {% elif v == 'clave' %}
                                                                    clave
                                                                {% elif v == 'nacimiento' %}
                                                                    fecha de Nacimiento
                                                                {% elif v == 'cuerpoAcademico' %}
                                                                    cuerpo Académico
                                                                {% elif v == 'contratacion' %}
                                                                    tipo de contratación
                                                                {% endif %}
                                                            </b>
                                                            <br>
                                                            <b>De:</b>
                                                            <span>
                                                                <!-- Harcoding de campos CHOICES de usuarios para mostrarlos completos -->
                                                                {% if v == 'sexo' %}
                                                                    {{ actualizacion.user.get_sexo_display }}
                                                                {% elif v == 'grado' %}
                                                                    {{ actualizacion.user.get_grado_display }}
                                                                {% elif v == 'publico' %}
                                                                    {{ actualizacion.user.publico|yesno:"Si, No" }}
                                                                {% else %}
                                                                    {{ actualizacion.user|getattribute:v }}
                                                                {% endif %}
                                                            </span>
                                                            <br>
                                                            <b>A:</b>
                                                            <span>
                                                                <!-- Harcoding de campos CHOICES de la peticion de actualizacion para mostrarlos completos -->
                                                                {% if v == 'sexo' %}
                                                                    {{ actualizacion.get_sexo_display }}
                                                                {% elif  v == 'grado' %}
                                                                    {{ actualizacion.get_grado_display }}
                                                                {% elif v == 'publico' %}
                                                                    {{ actualizacion.publico|yesno:"Si, No" }}
                                                                {% else %}
                                                                    {{actualizacion|getattribute:v}}
                                                                {% endif %}
                                                            </span>
                                                            <br><br>
                                                        {% endif %}
            
                                                        {% if v == 'niveles' %}
                                                            <b>Actualización de niveles</b>
                                                            <br>
                                                            <b>De:</b>
                                                            <span>{{ actualizacion.user.niveles.all|join:' • '}} </span>
                                                            <br>
                                                            <b>A:</b>
                                                            <span>{{actualizacion.niveles.all|join:' • '}}</span>
                                                            <br><br>
                                                        {% endif %}
            
                                                        {% if v == 'investigaciones' %}
                                                            <b>Actualización de investigaciones</b>
                                                            <br>
                                                            <b>De:</b>
                                                            <span>{{ actualizacion.user.investigaciones.all|join:' • '}} </span>
                                                            <br>
                                                            <b>A:</b>
                                                            <span>{{actualizacion.investigaciones.all|join:' • '}}</span>
                                                            <br><br>
                                                        {% endif %}

                                                        {% if v == 'facultades' %}
                                                            <b>Actualización de facultades</b>
                                                            <br>
                                                            <b>De:</b>
                                                            <span>{{ actualizacion.user.facultades.all|join:' • '}} </span>
                                                            <br>
                                                            <b>A:</b>
                                                            <span>{{actualizacion.facultades.all|join:' • '}}</span>
                                                            <br><br>
                                                        {% endif %}
            
                                                    </div>
                                            {% endfor %}  
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <b>Comentarios</b>
                                        <textarea class="form-control" name="comentario-{{actualizacion.id}}" id="comentario-{{actualizacion.id}}" placeholder="Deja un comentario" cols="30" rows="3"></textarea>  
                                    </div>  
                                    </div>
                                    <div class="m-cambios__buttons col-12 px-4 py-2">
                                    <button class="btn m-cambios__aprobar" name="Aprobado" value="Aprobado" type="submit" id="aprobar">Aprobar Cambios</button>
                                    <button class="btn m-cambios__rechazar" name="Rechazado" value="Rechazado" type="submit" id="rechazar">Rechazar Cambios</button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                    
                </div>
            </div>
        
        


        {% else %}
            <h6>Por el momento no existen peticion de actualización</h1>
        {% endif %}

        
    </div>
</body>
</html>