{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<script src="{% static 'js/VerificarCambiosForm.js' %}"></script>
<script defer src="{% static 'js/AgregarUsuarios.js' %}"></script>
<script src="{% static 'js/PillsBox.js' %}"></script>

<body>
    {% include 'navbar.html' %}
    {% block content %}

    <div class="container l-main">
        <div class="row mt-5 pt-4" id="messages">
            <div class="col-12">
                <!-- Mensaje de exito -->
                {% if messages %}
                <div class="alert alert-success text-center">
                    {% for message in messages %}
                    <strong>{{message}} </strong>
                    {% endfor %}
                </div>
                {% endif %}
    
                <!-- Mensajes de error sin campo asociado -->
                {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                    <p class="form-error">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
    
                
                <!-- Mostrando errores de todos los campos -->
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Corrigue los siguientes errores:</strong>
                    <ul>
                        {% for field in form %}
                        {% if field.errors %}
                        <li>
                            <p>{{field.errors|striptags}}</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Start Title of page  -->
        <!-- <div class="row mt-5">
            <div class="col-12 m-title">
                <h3>Agregar Usuarios</h3>
            </div>
        </div> -->
        <!-- End title of the page -->

        <!-- START THE CONTAINER OF THE FORM -->
        <div class="card">
        <!-- Start of title of card  | Row of tabs {Admin, Professor} -->
            <div class="card-header pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if producto == 'administrador' %}active{% endif %}"
                            href="{% url 'AddAdminUsers' %}">
                            Administrador
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if producto == 'profesor' %}active{% endif %}"
                            href="{% url 'AddProfesorUsers' %}">
                            Profesor
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.is_superuser %}
                        {{form.is_superuser}}
                    {% endif %}

                    {% if form.is_staff %}
                        {{form.is_staff}}
                    {% endif %}

                    <!-- Mostrando los campos del formulario -->
                    <div class="l-form d-flex flex-column">
                        <!-- Start personal data inputs -->
                        <div class="row pl-0 d-flex flex-row">
                            <h5 class="col-12 mb-2">Información Personal</h5>
                            <!-- Fisrt name -->
                            {% if form.first_name %}
                            <div class="m-form-input col-4">
                                <label for="id_first_name">{{form.first_name.label}}</label>
                                {{form.first_name}}
                            </div>
                            {% endif %}
                            <!-- Last name -->
                            {% if form.last_name %}
                            <div class="m-form-input col-4">
                                <label for="id_last_name">{{form.last_name.label}}</label>
                                {{form.last_name}}
                            </div>
                            {% endif %}
                            
                            {% if form.sexo %}
                            <div class="m-form-input col-4">
                                <label for="id_sexo">{{form.sexo.label}}</label>
                                {{form.sexo}}
                            </div>
                            {% endif %}
                            
                            {% if form.nacimiento %}
                            <div class="m-form-input col-4">
                                <label for="id_nacimiento">{{form.nacimiento.label}}</label>
                                {{form.nacimiento|addclass:'datepicker'}}
                            </div>
                            {% endif %}
                            <div class="m-form-input col-4">
                                <label for="id_username">{{form.username.label}}</label>
                                {{form.username}}
                            </div>
                            <div class="m-form-input col-4">
                                <label for="id_password1">{{form.password1.label}}</label>
                                {{form.password1}}
                            </div>
                            <div class="m-form-input col-4">
                                <label for="id_password2">{{form.password2.label}}</label>
                                {{form.password2}}
                            </div>
    
                        </div>
                        <!-- Start academic data inputs -->
                        <div class="row pl-0 d-flex flex-row">
                            {% if form.clave %}
                            <h5 class="col-12 mb-2 mt-3">Información Acádemica</h5>
                            <div class="m-form-input col-4">
                                <label for="id_clave">{{form.clave.label}}</label>
                                {{form.clave}}
                            </div>
                            {% endif %}
                            
                            {% if form.cuerpoAcademico %}
                            <div class="m-form-input col-4">
                                <label for="id_cuerpoAcademico">{{form.cuerpoAcademico.label}}</label>
                                {{form.cuerpoAcademico}}
                            </div> 
                            {% endif %}

                            {% if form.contratacion %}
                            <div class="m-form-input col-4">
                                <label for="id_contratacion">{{form.contratacion.label}}</label>
                                <div class="col-12 pl-0 h-align-center">
                                    {{ form.contratacion }}
                                    <div class="col-1">
                                    <a href="javascript:void(0);" data-url="{% url 'ContratoCreate' %}" id="add_facultades"
                                        onclick="return showAddPopup(this, 'id_contratacion');">
                                        <i class="fas fa-plus-circle"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if form.grado %}
                            <div class="m-form-input col-4">
                                <label for="id_grado">{{form.grado.label}}</label>
                                {{form.grado}}
                            </div>
                            {% endif %}
                        </div>
                        <!-- Start the pills squares -->
                        <div class="row d-flex flex-row mt-3 ">
                            {% if form.foto %}
                            <div class="m-file col-4">
                            <label>{{form.foto.label}}</label>
                                <label class="m-file_input h-text-overflow" for="id_foto">
                                    <img src="{% static 'img/foto.svg' %}" alt="" srcset="">
                                    Sube una nueva foto de perfil
                                </label>
                                {{ form.foto|addclass:'h-display-none' }}
                            </div>
                            {% endif %}
                            {% if form.facultades %}
                            <!-- Start the pills  -->
                            <div class="m-form-input col-4 mb-2" id="pills_facultades">
                                <label for="id_investigaciones">{{form.facultades.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas facultades aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.investigaciones %}
                            <div class="m-form-input col-4 mb-2 " id="pills_lineas">
                                <label for="id_investigaciones">{{form.investigaciones.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas lineas aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <div class="m-form-input col-4 mb-2" id="pills_niveles">
                                <label for="id_investigaciones">{{form.niveles.label}}</label>
                                <div class="col-12 p-0">
                                    <div class="col-12 pl-0 pr-0 h-align-center m-pill-input">
                                        <div class="m-pill-input_selected-pills col-12">
                                        </div>
                                    </div>  
                                    <div class="m-form-input">
                                        <input class="m-pill-input_search" type="text" name="" placeholder="Escribe nuevas niveles aquí">
                                    </div>
                                    <div class="m-pill-input_searchbox h-display-none" id="searchbox">
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if form.publico %}
                            <div class="m-form-input col-4 justify-content-center h-100" style="padding-top: 35px;">
                                <div class="h-align-center" data-toggle="tooltip" data-placement="top" title="Si activas esta opción, cualquier usuario de la plataforma podra ver tu información de contacto y tus productos">
                                    {{form.publico|addclass:'m-form-checkbox'}}
                                    <span for="id_publico" class="mx-2">{{form.publico.label}}</span>
                                    <i class="fas fa-question-circle mb-0"></i>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-4 d-flex align-items-end m-form-button">
                                <input class="btn m-button m-button--comunidapp" disabled type="submit" name="" id="" value="Agregar Usuario">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}
</body>
